In [1]:
import numpy as np
import pandas as pd 
from pandas import Series, DataFrame

In [3]:
# Let's make a Dframe

animals = DataFrame(np.arange(16).reshape(4, 4),
                   columns=['W', 'X', 'Y', 'Z'],
                   index=['Dog', 'Cat', 'Bird', 'Mouse'])

In [4]:
#Now lets add some NAN values
animals.ix[1, ['W', 'Y']] = np.nan 

#Show
animals

C:\Anaconda2\envs\mypython27\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    8.0   9  10.0  11
Mouse  12.0  13  14.0  15

In [5]:
len

In [7]:
# Now let's say I had a dictionary with ebhavior values in it
behavior_map = {'W': 'good', 'X': 'bad', 'Y': 'good','Z': 'bad'}

In [8]:
# Now we can groupby using that mapping
animal_col = animals.groupby(behavior_map, axis=1)

# Show the sum accroding to the groupby with the mapping
animal_col.sum()

# For example [dog][good] = [dog][Y]+[dog][W]

        bad  good
Dog     4.0   2.0
Cat    12.0   NaN
Bird   20.0  18.0
Mouse  28.0  26.0

In [9]:
# Now let's try it with a Series
behav_series = Series(behavior_map)

#Show
behav_series

W    good
X     bad
Y    good
Z     bad
dtype: object

In [10]:
# Now let's groupby the Series

animals.groupby(behav_series, axis=1).count()

       bad  good
Dog      2     2
Cat      2     0
Bird     2     2
Mouse    2     2

In [11]:
# We can also groupby with functions!

#Show our dframe again
animals

          W   X     Y   Z
Dog     0.0   1   2.0   3
Cat     NaN   5   NaN   7
Bird    8.0   9  10.0  11
Mouse  12.0  13  14.0  15