In [19]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [12]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ranger=range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [14]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [15]:
ser3.reindex(ranger,method='nearest')

0        USA
1        USA
2        USA
3     Mexico
4     Mexico
5     Mexico
6     Mexico
7     Mexico
8     Canada
9     Canada
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [20]:
dframe = DataFrame(randn(25).reshape([5,5]),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.503098 -0.745824  1.010273  0.831885 -1.016873
B  1.162968  0.149212  0.216030  0.336578 -0.148848
D -0.815516  0.915286 -1.751544  1.810752 -0.946570
E -0.288829 -0.669446 -0.661261  0.264854  0.569555
F  0.156214 -1.988372 -1.090084  0.145378 -1.135165

In [22]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.503098 -0.745824  1.010273  0.831885 -1.016873
B  1.162968  0.149212  0.216030  0.336578 -0.148848
C       NaN       NaN       NaN       NaN       NaN
D -0.815516  0.915286 -1.751544  1.810752 -0.946570
E -0.288829 -0.669446 -0.661261  0.264854  0.569555
F  0.156214 -1.988372 -1.090084  0.145378 -1.135165

In [23]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [24]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.503098 -0.745824  1.010273  0.831885 -1.016873   NaN
B  1.162968  0.149212  0.216030  0.336578 -0.148848   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.815516  0.915286 -1.751544  1.810752 -0.946570   NaN
E -0.288829 -0.669446 -0.661261  0.264854  0.569555   NaN
F  0.156214 -1.988372 -1.090084  0.145378 -1.135165   NaN

In [25]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

C:\Anaconda2\envs\mypython27\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A  0.503098 -0.745824  1.010273  0.831885 -1.016873   NaN
B  1.162968  0.149212  0.216030  0.336578 -0.148848   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.815516  0.915286 -1.751544  1.810752 -0.946570   NaN
E -0.288829 -0.669446 -0.661261  0.264854  0.569555   NaN
F  0.156214 -1.988372 -1.090084  0.145378 -1.135165   NaN