In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
dframe

         date variable     value
0  2000-01-03        A  1.696968
1  2000-01-04        A -0.463719
2  2000-01-05        A -0.226144
3  2000-01-03        B -0.678146
4  2000-01-04        B -1.342413
5  2000-01-05        B  1.117871
6  2000-01-03        C -1.129510
7  2000-01-04        C -0.849410
8  2000-01-05        C -0.773532
9  2000-01-03        D  1.394731
10 2000-01-04        D  0.963197
11 2000-01-05        D -0.139950

In [4]:
dframe_piv = dframe.pivot('date','variable','value')

In [5]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  1.696968 -0.678146 -1.129510  1.394731
2000-01-04 -0.463719 -1.342413 -0.849410  0.963197
2000-01-05 -0.226144  1.117871 -0.773532 -0.139950