In [1]:
import numpy as np
import pandas as pd

In [3]:
from pandas import Series,DataFrame

In [5]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [6]:
nfl_frame = pd.read_clipboard()

In [7]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East

In [8]:
 nfl_frame.columns

Index([u'Rank ', u'Team ', u'Won ', u'Lost ', u'Tied ', u'Pct. ',
       u'First NFL Season ', u'Total Games ', u'Division'],
      dtype='object')

In [15]:
nfl_frame['Rank ']

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
Name: Rank , dtype: float64

In [16]:
DataFrame(nfl_frame,columns=['Team ','First NFL Season ','Total Games '])

                      Team   First NFL Season  Total Games
0           Dallas Cowboys                1960         860
1        Green Bay Packers                1921       1,320
2            Chicago Bears                1920       1,354
3           Miami Dolphins                1966         784
4  New England Patriots[b]                1960         868

In [17]:
DataFrame(nfl_frame,columns=['Team ','First NFL Season ','Total Games ','Stadium'])

                      Team   First NFL Season  Total Games   Stadium
0           Dallas Cowboys                1960         860       NaN
1        Green Bay Packers                1921       1,320       NaN
2            Chicago Bears                1920       1,354       NaN
3           Miami Dolphins                1966         784       NaN
4  New England Patriots[b]                1960         868       NaN

In [18]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East

In [19]:
nfl_frame.head(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North

In [20]:
nfl_frame.head(4)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East

In [21]:
nfl_frame.tail(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East

In [22]:
nfl_frame.ix[3]

C:\Anaconda2\envs\mypython27\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Rank                               4
Team                 Miami Dolphins
Won                              439
Lost                             341
Tied                               4
Pct.                           0.563
First NFL Season                1966
Total Games                     784
Division                    AFC East
Name: 3, dtype: object

In [23]:
nfl_frame.iloc[3]

Rank                               4
Team                 Miami Dolphins
Won                              439
Lost                             341
Tied                               4
Pct.                           0.563
First NFL Season                1966
Total Games                     784
Division                    AFC East
Name: 3, dtype: object

In [24]:
nfl_frame['Stadium']="Levi's Stadium"

In [25]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East,Levi's Stadium
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Levi's Stadium
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Levi's Stadium
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levi's Stadium
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,Levi's Stadium

In [26]:
nfl_frame['Stadium'] = np.arange(5)

In [27]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East,0
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,1
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,2
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,3
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,4

In [30]:
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])

In [31]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [32]:
nfl_frame['Stadium']=stadiums

In [33]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East,AT&T Stadium
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,Levi's Stadium

delete columns

In [34]:
del nfl_frame['Stadium']

In [35]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East

In [36]:
data = {'city':['SF','LA','NYC'],'population':[8370000,3880000,8400000]}

In [37]:
city_frame = DataFrame(data)

In [38]:
city_frame

  city  population
0   SF     8370000
1   LA     3880000
2  NYC     8400000

In [40]:
#For full list of ways to create DataFrames from various sources go to teh documentation for pandas:
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True